.testimonial-carousel {
	position: relative;
	margin: 0 2rem 8rem 2rem;
	overflow: hidden;
	background: var(--color-main-blue);
	border-radius: 1rem;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	padding: 2rem;
}

.testimonial-cards {
	display: flex;
	transition: transform 0.6s ease;
}

.testimonial-card {
	flex: 0 0 100%;
	text-align: center;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 0 0px;
}

.quote {
	font-size: 2rem;
	line-height: 1;
	color: white;
	font-family: 'Afacad Flux', sans-serif;
	width: 500px;
	text-align: center;
}

.author {
	margin-top: 1rem;
	font-weight: 600;
	color: white;
}

.testimonial-dots {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 0.5rem;
}

.testimonial-dots .dot {
	width: 10px;
	height: 10px;
	background: #ccc;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease;
}

.testimonial-dots .dot.active {
	background: white;
	transform: scale(1.2);
}

@media (max-width: 600px) {
	.testimonial-carousel {
		padding: 1.5rem;
	}
	.quote {
		font-size: 1.3rem;
		width: 100%;
	}
}
