/*  Affacad Flux Font Faces */

/* Regular */
@font-face {
	font-family: 'Afacad Flux';
	src: url('./assets/fonts/afacad-flux/AfacadFlux-Regular.ttf') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Light */
@font-face {
	font-family: 'Afacad Flux';
	src: url('./assets/fonts/afacad-flux/AfacadFlux-Light.ttf') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* Medium */
@font-face {
	font-family: 'Afacad Flux';
	src: url('./assets/fonts/afacad-flux/AfacadFlux-Medium.ttf') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Bold */
@font-face {
	font-family: 'Afacad Flux';
	src: url('./assets/fonts/afacad-flux/AfacadFlux-Bold.ttf') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.afacad-flux {
	font-family: 'Afacad Flux', sans-serif;
}
