@import 'tachyons';

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: black;
	background-color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--color-main-blue: #1d2d4d;
}

body {
	margin: 0;
	min-height: 100vh;
}

#app {
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 100%;
}

.primary-button {
	background-color: white;
	color: var(--color-main-blue);
	text-transform: uppercase;
	border: 2px solid var(--color-main-blue);
	font-family: 'Afacad Flux', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 245px;
	height: 78px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}

.primary-button:hover {
	background-color: var(--color-main-blue);
	color: white;
}

.nav-item {
	font-family: 'Afacad Flux';
	font-size: 16px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.nav-item::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background: var(--color-main-blue);
	transition: width 0.3s ease;
}

.nav-item:hover {
	color: var(--color-main-blue);
}

.nav-item:hover::after {
	width: 100%;
	color: var(--color-main-blue);
}

.app-logo {
	width: 72px;
	height: auto;
}

.line-8 {
	line-height: 0.8;
}

.line-full {
	line-height: 1;
}

#timeline {
	margin-bottom: 8rem;
}
