.j-text-spacing {
	letter-spacing: -2.5px;
}

@media (max-width: 600px) {
	.j-text-spacing {
		font-size: 1.6rem !important;
		line-height: 1;
		color: #444;
		font-weight: 400;
		letter-spacing: 0px;
	}
}
